
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500&family=Pontano+Sans:wght@300;400&family=Poppins&family=Quicksand:wght@500&family=Righteous&family=Ubuntu&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{ 
    background-color: rgb(122, 216, 216);

}
.background{
    background-color: rgb(122, 216, 216);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    width: aut;
    height: auto;
    border: 5px solid black;
    border-radius: 12px;
    margin: 100px;
   
}
.productSection{
    height: auto;
    max-width: 1300px;
    /* border: 3px solid wheat; */
    
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

   
}

.card{
    height: 450px;
    width: 300px;
    border: 3px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px 5px black;
    border-radius: 10px;
    border: none;
    margin: 10px 10px 10px 10px;;
   

}
.pic1{
    height: 200px;
    width: 280px;
    /* border: 3px solid black; */
    background-image: url(/Download/apple.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.pic2{
    height: 200px;
    width: 280px;
    /* border: 3px solid black; */
    background-image: url(/Download/banana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.pic3{
    height: 200px;
    width: 280px;
    /* border: 3px solid black; */
    background-image: url(/Download/grapes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.pic4{
    height: 200px;
    width: 280px;
    /* border: 3px solid black; */
    background-image: url(/Download/orange.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.name{
    min-height: 40px;
    width: 280px;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    /* box-shadow: 1px 1px 8px 5px black; */
    color: red;

}
.price{
    min-height: 40px;
    width: 280px;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    
}
form{
    height: 150px;
    width: 280px;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form label{
    font-size: 20px;
}
form input{
    height: 50px;
    width: 60px;
    font-size: 20px;
    text-align: end;
    border-radius: 4px;
}
.counter{
    height: auto;
    max-width: 1300px;
    /* border: 5px solid blue; */
    margin: 2px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.orderNumber{
    height: 260px;
    width: 400px;
    /* border: 5px solid rgb(212, 20, 20); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderproduct{
    height: 40px;
    width: 380px;
    /* border: 5px solid black; */
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.productlist{
    height: 210px;
    width: 380px;
    /* border: 5px solid yellow; */
    display: flex;
}
.list{
    height: 200px;
    width: 250px;
    /* border: 5px solid black; */
}
.fruitsG{
    height: 48px;
    width: 240px;
    /* border: 5px solid white; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.fruitsB{
    height: 48px;
    width: 240px;
    /* border: 5px solid white; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.fruitsGr{
    height: 48px;
    width: 240px;
    /* border: 5px solid white; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.fruitsO{
    height: 48px;
    width: 240px;
    /* border: 5px solid white; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.fruitNumber{
    height: 200px;
    width: 120px;
    /* border: 5px solid blue; */
}
.totalnumberG{
    height: 48px;
    width: 115px;
    /* border: 5px solid black; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.totalnumberB{
    height: 48px;
    width: 115px;
    /* border: 5px solid black; */
    display: flex;
    justify-items: center;
    align-items: center;


}
.totalnumberGr{
    height: 48px;
    width: 115px;
    /* border: 5px solid black; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.totalnumberO{
    height: 48px;
    width: 115px;
    /* border: 5px solid black; */
    display: flex;
    justify-items: center;
    align-items: center;
}
.currency{
    height: 260px;
    width: 500px;
    /* border: 5px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.peso{
    height: 100px;
    width: 490px;
    /* border: 5px solid pink; */
    box-shadow: 3px 3px 8px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}
.pesoConvert{
    height: 60px;
    width: 490px;
    /* border: 5px solid pink; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.USD{
    height: 53px;
    width: 150px;
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.YEN{
    height: 53px;
    width: 150px;
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.WON{
    height: 53px;
    width: 150px;
    /* border: 5px solid black */
    display: flex;
    justify-content: center;
    align-items: center;
}
.convertAmmount{
    height: 80px;
    width: 490px;
    /* border: 5px solid saddlebrown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.usd1{
    height: 63px;
    width: 150px;
    /* border: 5px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px 2px black;
    font-weight: 600;
    font-size: 18px;
}
.won1{
    height: 63px;
    width: 150px;
    /* border: 5px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px 2px black;
    font-weight: 600;
    font-size: 18px;
}
.yen1{
    height: 63px;
    width: 150px;
    /* border: 5px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 8px 2px black;
    font-weight: 600;
    font-size: 18px;
}
.buyNow{
    height: 260px;
    width: 300px;
    /* border: 5px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calc{
    height: 100px;
    width: 280px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 70px;
    width: 160px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 166, 0, 0.918);
    cursor: pointer;
    font-size: 20px;
    color: white;
}
.buyNowBTN{
    height: 150px;
    width: 280px;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy{
    background-color: rgba(0, 128, 0, 0.925);
    height: 70px;
    width: 160px;
    cursor: pointer;
    color: white;
    font-size: 20px;
}
.buy:hover{
    transform: scale(1.1);
    transition: .4s;
}
.USD{
    font-size: 20px;
    font-weight: 600;
}
.WON{
    font-size: 20px;
    font-weight: 600;
}
.YEN{
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (max-width: 621px){
    .peso{
        width: 250px;
        height: 50px;
    }
    .USD{
        width: 100px;
    }
    .WON{
        width: 100px;
    }
    .YEN{
        width: 100px;
    }
    .usd1{
        width: 100px;
        font-size: 16px;
    }
    .yen1{
        width: 100px;
        font-size: 16px;
    }
    .won1{
        width: 100px;
        font-size: 16px;
    }
    .orderNumber{
        height: 260px;
        width: 250px;
   
    }
    .orderproduct{
        height: 40px;
        width: 250px;
        /* border: 5px solid black; */
       
      
    }
    .productlist{
        height: 210px;
        width: 250px;
        /* border: 5px solid yellow; */
        display: flex;
    }
    .list{
        height: 200px;
        width: 200px;
        /* border: 5px solid black; */
    }
    .fruitsG{
        height: 48px;
        width: 200px;
        /* border: 5px solid white; */
      
    }
    .fruitsB{
        height: 48px;
        width: 200px;
      
    }
    .fruitsGr{
        height: 48px;
        width: 200px;
        /* border: 5px solid white; */
        
    }
    .fruitsO{
        height: 48px;
        width: 200px;
        /* border: 5px solid white; */
        
    }
    .fruitNumber{
        height: 200px;
        width: 120px;
        /* border: 5px solid blue; */
    }
    .totalnumberG{
        height: 48px;
        width: 115px;
      
    }
    .totalnumberB{
        height: 48px;
        width: 115px;
       
    
    
    }
    .totalnumberGr{
        height: 48px;
        width: 115px;
     
    }
    .totalnumberO{
        height: 48px;
        width: 115px;
    
    }
    .currency{
        height: 260px;
        width: 250px;
}
}